
<!--Content-->
<div class="content">
  <!--Title-->
  <div class="title">
    <h1>Stock Market Overview</h1>
  </div>
  <!--Title end-->
  <!--Tabs-->
  <div class="tabs">
    <my-tabs>
      <my-tab [tabTitle]="'Data without model class'">
        <app-stocks></app-stocks>
      </my-tab>
      <my-tab [tabTitle]="'Data with model class'">
        <app-stocksmodel></app-stocksmodel>
      </my-tab>
    </my-tabs>
  </div>
  <!--Tabs end-->
</div>
<!--Content end-->