<!--Tabs-->
<ul class="nav nav-tabs">
  <li *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">
    <a href="#">{{tab.title}}</a>
  </li>
</ul>
<!--Tabs end-->
<ng-content></ng-content>