/*
General styles
*/

body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
}

.content {
    max-width: 100%;
    margin: 0.5em auto;
    padding: 0em 2em;
}

a {
    color: #08c;
    text-decoration: none;
    cursor: pointer;
}

ul {
    display: block;
    list-style-type: disc;
    padding: 0;
    margin: 0 0 10px 25px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li {
    line-height: 20px;
}

.spinner {
    font-size: 20px; 
    color: #c0c0c0;
}

.title h1 {
    color: #006699
}

.date p {
    color: #006699;
    font-weight: bold;
}

/*
Tabs
*/

.tabs{
    margin-top:1em;
}

.tab-close {
    color: gray;
    text-align: right;
    cursor: pointer;
}

.nav {
    margin-bottom: 1em;
    margin-left: 0;
    list-style: none;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
    display: table;
    line-height: 0;
    content: "";
}

.nav-tabs:after, .nav-pills:after {
    clear: both;
}

.nav-tabs>li {
    margin-bottom: -1px;
}

.nav-tabs>li, .nav-pills>li {
    float: left;
}

.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
    display: table;
    line-height: 0;
    content: "";
}

.nav>li>a {
    display: block;
}

.nav-tabs>li>a, .nav-pills>li>a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}

.nav-tabs>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.pane{
    padding: 0 1em 1em;
}

/*
Table style source https://tablestyler.com/ 
*/

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #006699;
}

.datagrid table td,
.datagrid table th {
    padding: 5px 10px;
}

.datagrid table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #00557F;
    border-left: 1px solid #E1EEF4;
    font-size: 14px;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #E1EEf4;
    color: #00557F;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.datagrid table tfoot td div {
    border-top: 1px solid #006699;
    background: #E1EEf4;
}

.datagrid table tfoot td {
    padding: 0;
    font-size: 12px
}

.datagrid table tfoot td div {
    padding: 8px;
}

.datagrid table tfoot td ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.datagrid table tfoot li {
    display: inline;
}

.datagrid table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
}

.datagrid table tfoot li a.reset {
    color: #000;
    background-color: #cccccc;
    border: 1px solid #cccccc;
}

.datagrid table tfoot ul.active,
.datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #006699;
    color: #FFFFFF;
    background: none;
    background-color: #0e8ac9;
}

.datagrid table tfoot li a.reset:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #cccccc;
}

div.dhtmlx_window_active,
div.dhx_modal_cover_dv {
    position: fixed !important;
}