<!--Spinner-->
<ngx-spinner>
  <p class="spinner">Loading...</p>
</ngx-spinner>
<!--Spinner end-->

<!--Date-->
<div class="date">
  <p>{{myDate}}</p>
</div>
<!--Date end-->

<!--Stock prices table-->
<div class="datagrid">
  <table class="stocks">
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Initial value (USD)</th>
        <th>Current value (USD)</th>
        <th>Change (USD / percent)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks">
        <td>{{stock.name}}</td>
        <td>{{stock.symbol}}</td>
        <!--Angular decimal pipe is used to round all numbers in the front end-->
        <td>${{stock.price | number:'1.2-2' }}</td>
        <td>
          <!--If no current value, initial stock price is used-->
          <span *ngIf="stock.currentValue; else elseValueBlock">${{stock.currentValue | number:'1.2-2' }}</span>
          <ng-template #elseValueBlock>${{stock.price | number:'1.2-2' }}</ng-template>
        </td>
        <td>
          <span *ngIf="stock.changeValue; else elseChangeBlock">${{stock.changeValue | number:'1.2-2' }} / {{stock.changePercent | number:'1.2-2' }}%</span>
          <!--If no change values, 0 is defaulted-->
          <ng-template #elseChangeBlock>$0.00 / 0.00%</ng-template>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <div id="paging">
            <ul>
              <li>
                <a (click)="resetData()" class="reset"><span>Reset</span></a>
              </li>
              <li>
                <a (click)="addDay(myDate)"><span>Add 1 Day</span></a>
              </li>
            </ul>
          </div>
        </tr>
      </tfoot>
  </table>
</div>
<!--Stock prices table end-->